<ion-header>
	<ion-toolbar>
    	<ion-title>Products</ion-title>
    	<ion-buttons slot="end">
	      <ion-button slot="icon-only" ng-click="logout()">
	      		<ion-icon name="log-out" size="large"></ion-icon>
	      </ion-button>
	    </ion-buttons>
 	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-list>
		<div class="product-list-container">
			<ion-card ng-repeat="item in items">
			  <img ng-src="{{item.image_url}}"/>
			  <ion-card-content>
			    <ion-card-title>
			      {{item.name}}
			    </ion-card-title>
			    <ion-item>
			    	<ion-note slot="start">${{item.price}}</ion-note>
			    	<ion-note slot="end">Rating: {{ item.total_rating_count == 0 ? 'N/A' : ((item.total_rating/item.total_rating_count) | number:1 ) }}</ion-note>
			    	<ion-note slot="end">Count: {{ item.total_rating_count}}</ion-note>
			    </ion-item>

			    <ion-item>
			    	<ion-icon size="large" slot="start" name="star-outline" ng-click="rateProduct(item)"></ion-icon>
			    	<ion-icon size="large" slot="end" disabled="true" name="trash" ng-click="deleteProduct(item)"></ion-icon>
			    </ion-item>
			  </ion-card-content>
			</ion-card>
		</div>
	</ion-list>


	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
	    <ion-fab-button ng-click="goToCreate()">
	      <ion-icon size="large" name="add"></ion-icon>
	    </ion-fab-button>
	  </ion-fab>
</ion-content>