<ion-header>
	<ion-toolbar>
    	<ion-title>User Login</ion-title>
 	</ion-toolbar>
</ion-header>
<ion-content>
	<form name="loginForm" ng-submit="onSubmit($event)">
		<ion-list lines="full">
			<ion-item>
			  <label form slot="start">User name</label>
			  <input form required="true" name="username" type="text" ng-model="username">
			</ion-item>


			<ion-item>
			  <label form slot="start">Password</label>
			  <input form required="true" name="password" type="password" ng-model="password">
			</ion-item>
			<ion-item>
				<ion-button fill="outline" type="submit" >Login</ion-button>
			</ion-item>
		</ion-list>
	</form>

	<ion-item ng-click="goToSignUp()">
		<ion-button slot="start" >Click here to Sign Up</ion-button>
		<ion-label slot="start">If you don't have an account</ion-label>
	</ion-item>

</ion-content>