body, html {
	margin: 0;
	height: 100%;
}

ion-content {
	height: calc(100% - 56px)
}

[text-center] {
	text-align: center;
}

.product-list-container {
	display: flex;
	flex-wrap: wrap;
}

.product-list-container img {
	width:350px;
	height: 200px;
}

ion-icon {
	cursor: pointer;
}

input[form] {
	flex-grow: 1;
    padding: 10px;
    border: 1px solid lightgray;
}

label[form] {
	min-width: 100px;
}