<ion-header>
	<ion-toolbar>
    	<ion-title>Create New Product</ion-title>
 	</ion-toolbar>
</ion-header>
<ion-content>
	<form name="productForm" ng-submit="onSubmit($event)">
		<ion-list lines="full">
			<ion-item>
			  <label form slot="start">Product Name</label>
			  <input form required="true" name="name" type="text" ng-model="product.name">
			</ion-item>


			<ion-item>
			  <label form slot="start">Product Price</label>
			  <input form required="true" name="price" type="number" ng-model="product.price">
			</ion-item>

			<ion-item>
			  <label form slot="start">Product Image</label>
			  <input form required="true" name="image" type="file" accept="image/*" id="create-product-image">
			</ion-item>

			<ion-item>
				<ion-button fill="outline" type="submit" >Create</ion-button>
			</ion-item>
		</ion-list>

	</form>
</ion-content>