<ion-header>
	<ion-toolbar>
    	<ion-title>User Sign Up</ion-title>
 	</ion-toolbar>
</ion-header>
<ion-content>
	<form name="signInForm" ng-submit="onSubmit($event)">
		<ion-list lines="full">
			<ion-item>
			  <label form slot="start">User name</label>
			  <input form required="true" name="username" type="text" ng-model="username">
			</ion-item>


			<ion-item>
			  <label form slot="start">Password</label>
			  <input form required="true" name="password" type="password" ng-model="password">
			</ion-item>
			<ion-item>
				<ion-button fill="outline" type="submit" >Sign Up</ion-button>
			</ion-item>
		</ion-list>

	</form>

	<ion-item ng-click="goToLogin()">
		<ion-button slot="start" >Click here to Login In</ion-button>
		<ion-label slot="start">If you already have an account</ion-label>
	</ion-item>

</ion-content>